In [1]:
#importando biblioteca
import pandas as pd
import numpy as np
import math

In [2]:
# Importando dado
df = pd.read_csv("C:\\Users\\bruno\\OneDrive\\Área de Trabalho\\xS.csv")

In [3]:
#para tomarmos uma ideia da tabela
pd.set_option("display.max_columns", None)
df.head()

,NM_BOLSISTA,CPF_BOLSISTA,NM_ENTIDADE_ENSINO,ME_REFERENCIA,AN_REFERENCIA,SG_DIRETORIA,SG_SISTEMA_ORIGEM,CD_MODALIDADE_SGB,DS_MODALIDADE_PAGAMENTO,CD_MOEDA,VL_BOLSISTA_PAGAMENTO
0,ALEXANDRE RIBEIRO NETO,***.195.647-**,UNIVERSIDADE FEDERAL DO ESTADO DO RIO DE JANEIRO,1,2016,DED,SGB,253,TUTOR,R$,765
1,LUIZ GUSTAVO RIBEIRO ROLANDO,***.866.306-**,UNIVERSIDADE ESTADUAL DO NORTE FLUMINENSE DARC...,1,2016,DED,SGB,253,TUTOR,R$,765
2,MARIA ELZA BOCATTI ROSSINI,***.180.719-**,UNIVERSIDADE ESTADUAL DE LONDRINA,1,2016,DED,SGB,245,COORDENADOR DE TUTORIA,R$,1300
3,ANTONIO RODRIGUES DE ARAUJO,***.060.403-**,UNIVERSIDADE FEDERAL DO PIAUI,1,2016,DED,SGB,253,TUTOR,R$,765
4,ROBERTO ARLINDO PINTO,***.352.736-**,UNIVERSIDADE FEDERAL DE OURO PRETO,1,2016,DED,SGB,253,TUTOR,R$,765

In [4]:
print('Nossa tabela tem {} individuos {} caracteristicas para os mesmos'.format(df.shape[0], df.shape[1]))

Nossa tabela tem 80015 individuos 11 caracteristicas para os mesmos

In [5]:
# Estatisticas descritivas para entendermos a tabela
df.describe(include='all')

,NM_BOLSISTA,CPF_BOLSISTA,NM_ENTIDADE_ENSINO,ME_REFERENCIA,AN_REFERENCIA,SG_DIRETORIA,SG_SISTEMA_ORIGEM,CD_MODALIDADE_SGB,DS_MODALIDADE_PAGAMENTO,CD_MOEDA,VL_BOLSISTA_PAGAMENTO
count,80015,80015,80015,80015.0,80015.000000,80015,80015,80015.000000,80015,80015,80015.000000
unique,42002,41117,749,NaN,NaN,1,1,NaN,13,1,NaN
top,MARIA APARECIDA DA SILVA,***.523.873-**,UNIVERSIDADE FEDERAL DA PARAIBA,NaN,NaN,DED,SGB,NaN,TUTOR,R$,NaN
freq,16,9,3520,NaN,NaN,80015,80015,NaN,51247,80015,NaN
mean,NaN,NaN,NaN,1.0,2014.434619,NaN,NaN,58.110179,NaN,NaN,942.835156
std,NaN,NaN,NaN,0.0,1.077320,NaN,NaN,98.443543,NaN,NaN,245.137709
min,NaN,NaN,NaN,1.0,2013.000000,NaN,NaN,1.000000,NaN,NaN,765.000000
25%,NaN,NaN,NaN,1.0,2013.000000,NaN,NaN,6.000000,NaN,NaN,765.000000
50%,NaN,NaN,NaN,1.0,2014.000000,NaN,NaN,6.000000,NaN,NaN,765.000000
75%,NaN,NaN,NaN,1.0,2015.000000,NaN,NaN,18.000000,NaN,NaN,1300.000000
max,NaN,NaN,NaN,1.0,2016.000000,NaN,NaN,253.000000,NaN,NaN,1500.000000

Podemos perceber aqui que -> 1. Temos nomes trepetidos; 2. A universidade que mais se destaca e a UFPA; 3. Que os itens ME_REFERENCIA, SG_DIRETORIA, SG_SISTEMA_ORIGEM e CD_MOEDA nao tem relevancia;  4. que os anos em questao sao de 2013 ate 2016;

In [6]:
#esse modulo serve para ajudar delimitar o inicio e fim dos anos dos dados em questao
count = np.count_nonzero(df == 2016)
print(count)
count = count -1

count15 = np.count_nonzero(df == 2015)
count15= count15+count
print(count15)

count14 = np.count_nonzero(df == 2014)
count14= count14+count15
print(count14)

count13 = np.count_nonzero(df == 2013)
count13= count13+count14
print(count13)

d16=df[0:][:count]
d15=df[count:][:count15]
d14=df[count15:][:count14]
d13=df[count14:][:count13]

16264
38849
59676
80014

In [7]:
#2. Muda a primeira letra pela ultima e a ultima pela primeira(parte 1/3)
def swap(str):
    string =str
    #ver o tamanho da string
    stringlength=len(string)
    
    # Guarda o primeiro caractere
    start = string[0]
      
    # Guarda o ultimo caractere
    end = string[-1]
    
    swapped_string = end + string[1:-1] + start
    #se a string for maior que 3 ela sera revertida, pois caso nao ela nao mudaria
    if stringlength > 3:
        x = swapped_string[stringlength::-1]
        cript(x)
        print()
        
    else:
        cript(swapped_string)
        print()

In [8]:
#2. Muda a primeira letra pela ultima e a ultima pela primeira(parte 2/3)
def cript(str):
    string = str
    ascii_values = []
    char_values = []
#verifica se nao e igual a Z
    for i in string:
        ascii = ord(i)
        if ascii!=90:
            ascii += 1
            ascii_values.append(ascii)
        else:
            ascii_values.append(65) 
#muda novamente para char
    for i in ascii_values:
        enc = chr(i)
        char_values.append(enc)
#concatena
    for i in char_values:
        print(i, end='')

In [9]:
#2. para conferir se funciona
swap("PAZ")
swap("FUGA")
swap("PERIGO")

ABQ
GHVB
QHJSFP

In [10]:
#4. [COLOCACAO A]
#implementacao da funcao 4(1/2) 
def maior():
    max1=0
    max2=0
    max3=0
    idm1=0
    idm2=0
    idm3=0
    i=0
    while i != 80014:
        if df.VL_BOLSISTA_PAGAMENTO[i] >= max1:
            max3= max2
            max2= max1
            max1= df.VL_BOLSISTA_PAGAMENTO[i]
            idm3= idm2
            idm2=idm1
            idm1= i
            i += 1
        else:
            i += 1

    print(max1, max2, max3, idm1, idm2, idm3)
#para sabermos e conferirmos qual a posicao dos maiores valores#
#se formos analisar teremos varios valores 1500. Porem, devido a inflacao, consequentemente, 
#os valores maiores deverao estar no inicio de 2013.
    print('max1',df.NM_BOLSISTA[idm1], ' ',df.CPF_BOLSISTA[idm1], ' ',df.NM_ENTIDADE_ENSINO[idm1],' ', df.VL_BOLSISTA_PAGAMENTO[idm1])
    print('max2',df.NM_BOLSISTA[idm2], ' ',df.CPF_BOLSISTA[idm2], ' ',df.NM_ENTIDADE_ENSINO[idm1],' ', df.VL_BOLSISTA_PAGAMENTO[idm2])
    print('max3',df.NM_BOLSISTA[idm3], ' ',df.CPF_BOLSISTA[idm3], ' ',df.NM_ENTIDADE_ENSINO[idm1],' ', df.VL_BOLSISTA_PAGAMENTO[idm3])

In [11]:
#4. [COLOCACAO B]
#implementacao da funcao 4(2/2)
def menor():
    min1 = 1500
    min2 = 1500
    min3=1500
    idm1=0
    idm2=0
    idm3=0
    i = 80014
    while i != -1:
        if df.VL_BOLSISTA_PAGAMENTO[i] <= min1:
            min3= min2
            min2= min1
            min1= df.VL_BOLSISTA_PAGAMENTO[i]

            idm3= idm2
            idm2=idm1
            idm1= i
            i -= 1
        else:
            i -= 1
#para sabermos e conferirmos qual a posicao dos maiores valores#
#se formos analisar o menor Porem, devido a inflacao, consequentemente, dos 80014 serao os 3 primeiros menores valores 
#os valores maiores deverao estar no inicio de 2013.
    print(min1, min2, min3, idm1, idm2, idm3)
    print('min1',df.NM_BOLSISTA[idm1], ' ',df.CPF_BOLSISTA[idm1], ' ',df.NM_ENTIDADE_ENSINO[idm1],' ', df.VL_BOLSISTA_PAGAMENTO[idm1])
    print('min2',df.NM_BOLSISTA[idm2], ' ',df.CPF_BOLSISTA[idm2], ' ',df.NM_ENTIDADE_ENSINO[idm1],' ', df.VL_BOLSISTA_PAGAMENTO[idm2])
    print('min3',df.NM_BOLSISTA[idm3], ' ',df.CPF_BOLSISTA[idm3], ' ',df.NM_ENTIDADE_ENSINO[idm1],' ', df.VL_BOLSISTA_PAGAMENTO[idm3])

In [12]:
#Imprime o texto do menu 
def menu ():
    print("1. [Consultar bolsa zero/Ano]")
    print("2. [Codificar nomes]")
    print("3. [Consultar média anual]")
    print("4. [Ranking valores de bolsa]")
    print("0. [Terminar o programa]")

In [ ]:
#inicio da implementacao do menu 
menu()

#a funcao abaixo do While true se torna util para impedir valores como char, strings, float...
while True:
    try:
        option = int(input ("Selecione a sua opcao:\n"))
        break
    except ValueError :
        print("Opcao invalida\n")  
        continue

#inicio do programa 
#Caso o imput for 0 sai do programa
while option != 0:
    
    if option == 1:
        print("[Consultar bolsa zero/Ano]")
        while True:
            try:
                ano = int (input ("Por Favor digite o ano desejado (2016, 2015, 2014 ou 2013):"))              
#inicio do codigo do programa [consultar bolsa zero/Ano]     
                if ano == 2016 or ano ==2015 or ano ==2014 or ano ==2013:
                    if ano == 2016:
                        print(' ',df.NM_BOLSISTA[count], ' ',df.CPF_BOLSISTA[count], ' ',df.NM_ENTIDADE_ENSINO[count],' ', df.VL_BOLSISTA_PAGAMENTO[count])
                        break
                    elif ano == 2015:
                        print(' ',df.NM_BOLSISTA[count15], ' ',df.CPF_BOLSISTA[count15], ' ',df.NM_ENTIDADE_ENSINO[count15],' ', df.VL_BOLSISTA_PAGAMENTO[count15])
                        break
                    elif ano == 2014:
                        print(' ',df.NM_BOLSISTA[count14], ' ',df.CPF_BOLSISTA[count14], ' ',df.NM_ENTIDADE_ENSINO[count14],' ',df.VL_BOLSISTA_PAGAMENTO[count14])
                        break
                    elif ano == 2013:
                        print(' ',df.NM_BOLSISTA[count13],' ' ,df.CPF_BOLSISTA[count13], ' ',df.NM_ENTIDADE_ENSINO[count13],' ',df.VL_BOLSISTA_PAGAMENTO[count13])
                        break
                        #caso a opcao nao for um dos quatro anos (2016 ou 2015 ou 2014 ou 2013) pedira de novo ate suprir essa condicao
            except ValueError :
                        print("Opcao invalida\n")  
                        continue
                    
                
    elif option == 2:
        print("\n[Codificar nomes]")
        nome = (input ("Informe o nome parcial ou completo do Bolsista:"))
        nome = nome.upper()  #transforma nome em letras maiusculas
        j = -1
        
        while j < 80014:
            #Pega o nome completo do individuo conforme o indice 
            j += 1
            f = df.NM_BOLSISTA[j]
            o = f.find(nome) # retorna um valor 0 se o input dado pelo usuario estiver na palavra em questao que ele procurou
           
            if  o ==0:
             # como o exercicio pediu pra retornar o nome codificado do imput e o usuario pesquisado,
             # decidiu-se nesta implementacao, como nao houve expecificacao, retornar os dados do 
             # primeiro usuario(quando for digitado somente um nome)da lista que achou alguma conformidade
                print()
            #se chamar a func. swap() somente codificara o input. Porem, para de fato codificar o nome inteiro tem que
            #ir palavra por palavra do sobrenome. Entao, o while em seguir faz essa funcao de, usando o slice() criar um 
            #array, com as palavras separadas do NM_BOLSISTA  para em seguida, criptografar uma por vez
                m=0
                n = df.NM_BOLSISTA[j]
                s = n.split() 
                l = len(s)

                while m != l:
                    swap(s[m])
                    m += 1 
                print()
            # Printa ano, entidade de ensino e pavamento da bolsa do individuo selecionado
                print(df.AN_REFERENCIA[j], '\n')
                print(df.NM_ENTIDADE_ENSINO[j], '\n')
                print(df.VL_BOLSISTA_PAGAMENTO[j], '\n')
                break
            if (j + 1) == 80015:
                print("Nao consta na lista")


    elif option == 3:
        #inicio do codigo do programa [Consultar média anual]
        print("\n[Consultar média anual]")
        while True:
            try:
                op3 = int (input ("Por Favor digite o ano desejado (2016, 2015, 2014 ou 2013):"))
                if op3 == 2016 or op3 ==2015 or op3 ==2014 or op3 ==2013:
                    if op3 == 2016:
                        print('A media do valor pago ao bolsista e de:\n')
                        print(d16['VL_BOLSISTA_PAGAMENTO'].mean())
                        break
                    elif op3 == 2015:
                        print('A media do valor pago ao bolsista e de:\n')
                        print(d15['VL_BOLSISTA_PAGAMENTO'].mean())
                        break
                    elif op3 == 2014:
                        print('A media do valor pago ao bolsista e de:\n')
                        print(d14['VL_BOLSISTA_PAGAMENTO'].mean())
                        break
                    elif op3 == 2013: 
                        print('A media do valor pago ao bolsista e de:\n')
                        print( d13['VL_BOLSISTA_PAGAMENTO'].mean())
                        break
                     #caso a opcao nao for um dos quatro anos (2016 ou 2015 ou 2014 ou 2013) pedira de novo ate suprir essa condicao
            except ValueError :
                        print("Opcao invalida\n")  
                        continue

    elif option == 4:
#inicio do codigo do programa [Ranking valores de bolsa]
        print("\n[Ranking valores de bolsa]")
        print("Intorme a opcao desejada:")
        #print("n\[1]. Os três alunos com os valores da bolsa mais altos;") testes 
        #print("n\[2]. Os três alunos com os valores da bolsa mais baixos;") testes
        #op = int (input ()) testes
        print('Colocacao a:')
        maior()
        print('Colocacao b:')
        menor()
    else:
        print("Opcao invalida\n")
    print()
    menu()
    #a funcao abaixo do While true se torna util para impedir valores como char, strings, float...
    while True:
        try:
            option = int(input ("Selecione a sua opcao:\n"))
            break
        except ValueError :
            print("Opcao invalida\n")  
            continue
print("Obrigado por usar esse programa! Adeus!")

1. [Consultar bolsa zero/Ano]
2. [Codificar nomes]
3. [Consultar média anual]
4. [Ranking valores de bolsa]
0. [Terminar o programa]